/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../public/font/Geist_Mono/fonts.scss';

// ******************************  Animations  ******************************

@import './app/commons/style/background.scss';
@import './app/commons/style/rocket.scss';
@import './app/commons/style/animations-components.scss';

// ******************************  Globals  ******************************

body {
  font-family: 'Geist Mono';
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
